.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: black;}


  h1{
    text-align: center;
  }
  .vl {
    position: absolute;
    border-left: 1px solid black;
    height: 250px;
    left: 18%;
    margin-left: -3px;
    top :15%;
  
  }
  #website_title{
    display: inline-block;
    margin: auto;
    padding-left: 37%;
    font-size: 60px;
    font-family: Verdana, sans-serif;
  }
 #title{
  position:absolute;
   left: 120px;
   width: 150px;
   margin-bottom: 2px;
 }
 #artist{
  position:absolute;
   left: 120px;
  width: 150px;

 }

 #genre{
  position:absolute;
   left: 120px;
  width: 150px;
 }

 input[type="reset"], input[type="submit"]{
    margin-top: 10px;
    margin-left: 20px;
 }

div{
  margin: 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 1160px;
  gap: 10px;
  
}
#grid-item1 {
  padding-top : 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: 250px;
}

#grid-item2 {
  padding-top : 15px;
  padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  max-height: 450px;
  overflow: scroll;
}

td{
  text-align: center;
}

.chart{
  float: right;
  height: 400px;
  width: 400px;
}
#songDetail{
  list-style: none;
}

#SearchandBrowseSongs{
 /* display: ;*/
}

#SingleSong{
  display: none;
}

#Playlist{
  display: none;
}