.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: black;}


  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .indents{
    padding-left: 1em;
  }

  .vl {
    position: absolute;
    border-left: 1px solid black;
    height: 250px;
    left: 18%;
    margin-left: -3px;
    top :15%;
  
  }

 #title{
  position:absolute;
   left: 100px;
   width: 150px;
   margin-bottom: 2px;
 }
 #artist{
  position:absolute;
   left: 100px;
  width: 150px;

 }

 #genre{
  position:absolute;
   left: 100px;
  width: 150px;
 }

 input[type="reset"], input[type="submit"]{
    margin-top: 10px;
 }

div{
  margin: 5px;
}